/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1{
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}

#page-title{
    font-family: Arial, Helvetica, sans-serif;
}


.title{
    font-size: 18px;
    font-family: monospace;
}

#main-nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

#main-nav li{
    display: inline-block;
}

#main-nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

#main-nav .blog{
    background-color: yellow;
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aqua  ;
}

h1{
    color: purple;
    font-family: serif;
    margin-bottom: 20px;
    text-align: center;
}

.title{
    font-size: 50px;
    font-family: monospace;
}

.nav{
    list-style-type: none;
    text-align: center;
}

.nav li{
    display: inline-block;
    
}

.nav a {
    color: white;
    background-color: #13a4a4;
    border-radius: 10px;
    text-decoration: none;
    border: springgreen 3px solid;
    /* ESTO SIRVE PARA CENTRAR */
    float: left;
    margin-right: 10px;
    padding: 0 4px;
}

.nav .blog{
    background-color: purple;
}


